{% extends "studiosnaps/base.html" %}

{% block title %}Welcome{% endblock %}
		
{% block auth_block %}
	{% if user.is_authenticated %}
		<li><a href="/studiosnaps/profile">+ {{ user.username }}</a> connected !</li>
		<li><a href="/studiosnaps/logout/">Logout</a></li>
	{% else %}
		{% if error %}
		<p><strong>Username or password invalid</strong></p>
		{% endif %}

		<form method="post" action=".">
		{% csrf_token %}
		{{ login_form.as_p }}
		<input type="submit" value="Log in"/>
		</form>
		<hr />
		<a href="/studiosnaps/register/">Register Here</a>
	{% endif %}
{% endblock %}